.custom-checkbox{
	position: relative;
	padding-right:30px !important;

	i{
		position: absolute;
		right:10px;
		top:9px;
	}
}

.check-demo-col{
	width:200px;
	float:left;

	.check-line{
		position: relative;
		margin-bottom: 10px;

		.inline{
			position: absolute;
			top:-1px;
			left:35px;
		}
	}
}