﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CaptchaControl.ascx.cs" Inherits="Synergy.UI.Captcha" %>
<asp:Image ID="Im1" runat="server" ImageAlign="AbsMiddle" />
<asp:ImageButton ID="ImageButton1"
    runat="server" ImageAlign="AbsMiddle" ImageUrl="~/Images/Refresh.png"
    Height="25px" Width="25px" OnClick="LoadAnother" /><asp:Button ID="BSpeak" runat="server" Text="Speak" OnClick="ReadCaptcha" />
<br />
<div class="LabelSplit"></div>
<asp:TextBox ID="T1" runat="server"></asp:TextBox><br />

<asp:Button ID="B1" runat="server" Text="Test" OnClick="ValidateCaptcha" Visible="false" />
<asp:Label ID="LStatus" runat="server" Visible="false"></asp:Label><br />
<br />
<asp:Button ID="B2" runat="server" Text="Load Another Image" OnClick="LoadAnother" Visible="false" />
