﻿
a {
    text-decoration: none;
}
.AnnouncementTD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
}
.AnnouncementTD a {
    color: #7f8c9d;
}
.viewOnlineTD {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
}
.viewOnlineTD a {
    color: #ffffff;
}
.menuTD {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 22px;
    text-align: right;
}
.menuTD a {
    color: #ffffff;
}
.buttonTD, .iconTextTD, .td528Button {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: lighter;
    line-height: 14px;
    text-align: center;
}
.iconTextTD {
    color: #c0c7d4;
    font-size: 13px;
    text-align: left;
}
.buttonTD a, .td528Button a {
    color: #ffffff;
    display: block;
}
.iconTextTD a {
    color: #56c895;
    font-weight: bold;
}
.headerTD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.headerTD a {
    color: #56c895;
}
.header2TD, .iconHDTD {
    color: #cfd6e2;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}
.header2TD a, .iconHDTD a {
    color: #56c895;
    font-weight: bold;
}
.header3TD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}
.header3TD a {
    color: #56c895;
    font-weight: bold;
}
.header4TD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}
.header4TD a {
    color: #56c895;
}
.headerPrcTD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}
.headerPrcTD a {
    color: #7f8c9d;
}
.iconHDTD {
    color: #ffffff;
}
.RegularTextTD, .RegularText2TD, .RegularText3TD, .confLinkTD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 28px;
    text-align: left;
}
.RegularText3TD {
    font-size: 15px;
    text-align: center;
}
.RegularTextTD a, .RegularText2TD a, .RegularText3TD a {
    color: #56c895;
    font-weight: bold;
}
.confLinkTD a {
    color: #67bffd;
    font-weight: bold;
    word-break: break-all;
}
.invoiceTD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
}
.invoiceTD a {
    color: #56c895;
}
.invCap {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}
.invCap a {
    color: #7f8c9d;
}
.invReg {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 13px;
    text-align: left;
}
.invReg a {
    color: #7f8c9d;
}
.invInfoA {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
}
.invInfoA a {
    color: #7f8c9d;
    pointer-events: none;
}
.invInfoB {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}
.invInfoB a {
    color: #7f8c9d;
    pointer-events: none;
}
td a img {
    border: medium none;
    text-decoration: none;
}
.companyAddressTD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 190%;
    text-align: center;
}
.companyAddressTD a {
    color: #7f8c9d;
}
.companyAddress2TD {
    color: #7f8c9d;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 190%;
    text-align: center;
}
.companyAddress2TD a {
    color: #7f8c9d;
    pointer-events: none;
}
.mailingOptionsTD, .termsConTD, .termsCon2TD {
    color: #888888;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
}
.mailingOptionsTD a, .termsConTD a, .termsCon2TD a {
    color: #888888;
    font-weight: bold;
}
.termsConTD {
    text-align: left;
}
.termsCon2TD {
    text-align: right;
}
.termsConTD a, .termsCon2TD a {
    font-weight: normal;
}
.ReadMsgBody {
    width: 100%;
}
.ExternalClass {
    width: 100%;
}
body {
    margin: 0 !important;
    min-width: 100% !important;
    padding: 0 !important;
}
@media only screen and (max-width: 599px) {
body {
    min-width: 100% !important;
}
td[class="viewOnlineTD"] {
    text-align: center !important;
}
table[class="table800Logo"] {
    border-bottom: 1px solid #e1e1e1 !important;
    width: 440px !important;
}
td[class="tdLogo"] {
    width: 440px !important;
}
table[class="table800Menu"] {
    width: 440px !important;
}
td[class="AnnouncementTD"] {
    font-size: 17px !important;
    text-align: center !important;
    width: 440px !important;
}
table[class="table800Menu"] td {
    height: 20px !important;
}
table[class="tbl6AnctText"] .menuTD {
    font-size: 13px !important;
    line-height: 150% !important;
    text-align: center !important;
}
table[class="tbl6AnctText"] {
    width: 440px !important;
}
td[class="viewOnlineTD"] {
    width: 440px !important;
}
td[class="menuTD"] {
    font-weight: bold !important;
    width: 440px !important;
}
table[class="table600"] {
    width: 440px !important;
}
table[class="image600"] img {
    height: auto !important;
    width: 440px !important;
}
table[class="AnncTable"] {
    border: medium none !important;
    width: 100% !important;
}
table[class="table280d"] {
    border-radius: 0 !important;
    width: 440px !important;
}
td[class="LMrg"] {
    height: 8px !important;
}
td[class="LMrg2"] {
    height: 6px !important;
}
td[class="LMrg3"] {
    height: 10px !important;
}
table[class="tblRgBrdr"] {
    border-right: medium none !important;
}
td[class="td147"] {
    width: 215px !important;
}
table[class="table147"] {
    width: 215px !important;
}
table[class="table147tblp"] {
    width: 175px !important;
}
td[class="mrgnHrzntlMdl"] {
    width: 10px !important;
}
td[class="mvd"] {
    height: 30px !important;
    width: 440px !important;
}
table[class="centerize"] {
    margin: 0 auto !important;
}
table[class="tblBtnCntr2"] {
    margin: 0 auto !important;
    width: 398px !important;
}
td[class="table28Sqr"] img {
    border-radius: 4px 4px 0 0 !important;
    height: auto !important;
    margin: 0 auto !important;
    width: 440px !important;
}
td[class="tbl28Rctngl"] img {
    height: auto !important;
    margin: 0 auto !important;
    width: 215px !important;
}
td[class="headerTD"] {
    text-align: center !important;
}
td[class="header4TD"] {
    text-align: center !important;
}
td[class="headerPrcTD"] {
    font-size: 25px !important;
}
td[class="RegularTextTD"] {
    font-size: 13px !important;
}
td[class="RegularText2TD"] {
    font-size: 13px !important;
    height: 0 !important;
}
td[class="RegularText3TD"] {
    font-size: 13px !important;
}
td[class="mailingOptionsTD"] {
    text-align: center !important;
}
td[class="companyAddressTD"] {
    text-align: center !important;
}
td[class="esFrMb"] {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}
table[class="table280brdr"] {
    width: 440px !important;
}
table[class="table608"] {
    width: 438px !important;
}
table[class="table518b"] {
    width: 398px !important;
}
table[class="table518"] {
    width: 398px !important;
}
table[class="table518c"] {
    width: 195px !important;
}
table[class="table518c2"] {
    width: 195px !important;
}
td[class="imgAltTxticTD"] img {
    height: auto !important;
    margin: 0 auto 17px !important;
    width: 398px !important;
}
td[class="iconPdngErase"] {
    display: none !important;
    width: 0 !important;
}
td[class="table608"] {
    width: 438px !important;
}
td[class="invReg"] {
    font-size: 14px !important;
    font-weight: lighter !important;
    text-align: center !important;
    width: 133px !important;
}
td[class="invInfoA"] {
    text-align: right !important;
    width: 195px !important;
}
td[class="invInfoB"] {
    text-align: left !important;
    width: 195px !important;
}
td[class="invoiceTD"] {
    font-weight: bold;
    width: 390px !important;
}
td[class="td528Button"] {
    width: 358px !important;
}
table[class="table528Button"] {
    width: 358px !important;
}
table[class="table528Social"] {
    width: 398px !important;
}
table[class="table250"] {
    width: 177px !important;
}
}
@media only screen and (max-width: 479px) {
body {
    min-width: 100% !important;
}
td[class="viewOnlineTD"] {
    text-align: center !important;
}
table[class="table600Logo"] {
    border-bottom: 1px solid #e1e1e1 !important;
    width: 300px !important;
}
td[class="tdLogo"] {
    width: 300px !important;
}
table[class="table600Menu"] {
    width: 300px !important;
}
td[class="AnnouncementTD"] {
    font-size: 17px !important;
    text-align: center !important;
    width: 300px !important;
}
table[class="table600Menu"] td {
    height: 20px !important;
}
table[class="tbl6AnctText"] .menuTD {
    font-size: 12px !important;
    line-height: 150% !important;
    text-align: center !important;
}
table[class="tbl6AnctText"] {
    width: 300px !important;
}
td[class="viewOnlineTD"] {
    width: 300px !important;
}
td[class="menuTD"] {
    font-weight: bold !important;
    width: 300px !important;
}
table[class="table600"] {
    width: 300px !important;
}
table[class="image600"] img {
    height: auto !important;
    width: 300px !important;
}
table[class="table608"] {
    width: 298px !important;
}
td[class="table608"] {
    width: 298px !important;
}
table[class="table518"] {
    width: 260px !important;
}
table[class="table518b"] {
    width: 268px !important;
}
table[class="table518c"] {
    width: 268px !important;
}
table[class="table518c2"] {
    margin: 20px 0 0 !important;
    width: 268px !important;
}
td[class="imgAltTxticTD"] img {
    height: auto !important;
    margin: -4px auto 15px !important;
    width: 268px !important;
}
table[class="table280Button"] {
    width: 264px !important;
}
table[class="centerize"] {
    margin: 0 auto !important;
}
table[class="tblBtnCntr2"] {
    margin: 0 auto !important;
    width: 264px !important;
}
table[class="AnncTable"] {
    border: medium none !important;
    width: 100% !important;
}
table[class="table280d"] {
    border-radius: 0 !important;
    width: 300px !important;
}
td[class="LMrg"] {
    height: 8px !important;
}
td[class="LMrg2"] {
    height: 6px !important;
}
td[class="LMrg3"] {
    height: 10px !important;
}
td[class="wz"] {
    width: 15px !important;
}
table[class="tblRgBrdr"] {
    border-right: medium none !important;
}
td[class="td147"] {
    width: 147px !important;
}
table[class="table147"] {
    width: 147px !important;
}
table[class="table147tblp"] {
    width: 117px !important;
}
td[class="mrgnHrzntlMdl"] {
    width: 6px !important;
}
td[class="mvd"] {
    height: 30px !important;
    width: 300px !important;
}
td[class="iconPdngErase"] {
    display: none !important;
    width: 0 !important;
}
td[class="table28Sqr"] img {
    border-radius: 4px 4px 0 0 !important;
    height: auto !important;
    margin: 0 auto !important;
    width: 300px !important;
}
td[class="tbl28Rctngl"] img {
    height: auto !important;
    margin: 0 auto !important;
    width: 147px !important;
}
td[class="headerTD"] {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
}
td[class="header4TD"] {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
}
td[class="iconHDTD"] {
    font-size: 16px !important;
    text-align: center !important;
}
td[class="headerPrcTD"] {
    font-size: 18px !important;
}
td[class="RegularTextTD"] {
    font-size: 13px !important;
    text-align: left !important;
}
td[class="RegularText2TD"] {
    font-size: 13px !important;
    height: 0 !important;
}
td[class="RegularText3TD"] {
    font-size: 13px !important;
}
td[class="mailingOptionsTD"] {
    text-align: center !important;
}
td[class="companyAddressTD"] {
    text-align: center !important;
}
td[class="esFrMb"] {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}
table[class="table280brdr"] {
    width: 300px !important;
}
td[class="invReg"] {
    font-size: 13px !important;
    text-align: center !important;
    width: 89px !important;
}
td[class="invInfoA"] {
    text-align: center !important;
    width: 268px !important;
}
td[class="invInfoB"] {
    text-align: center !important;
    width: 268px !important;
}
td[class="invoiceTD"] {
    width: 250px !important;
}
td[class="buttonVrt"] {
    height: 16px !important;
}
td[class="buttonVrt2"] {
    height: 12px !important;
}
td[class="buttonVrt3"] {
    height: 10px !important;
}
td[class="td528Button"] {
    width: 238px !important;
}
table[class="table528Button"] {
    width: 238px !important;
}
table[class="table528Social"] {
    width: 266px !important;
}
table[class="table250"] {
    width: 117px !important;
}
td[class="termsCon2TD"] {
    text-align: center !important;
}
td[class="termsConTD"] {
    text-align: center !important;
}
}



	a								{text-decoration:none;}
	.AnnouncementTD				{color:#7f8c9d;font-family: sans-serif;font-size:16px;text-align:right;line-height:150%;}
	.AnnouncementTD a				{color:#7f8c9d;}

	.viewOnlineTD					{color:#ffffff;font-family: sans-serif;font-size:12px;text-align:left;line-height:22px;}
	.viewOnlineTD a					{color:#ffffff;}

	.menuTD						{color:#ffffff;font-family: sans-serif;font-size:12px;text-align:right;line-height:22px;}
	.menuTD a						{color:#ffffff;}	
	
	.buttonTD, .iconTextTD,.td528Button	{color:#ffffff;font-family: sans-serif;font-size:15px;font-weight:lighter;text-align:center;line-height:23px;}
	.iconTextTD							{text-align:left; font-size:13px;color:#c0c7d4;}
	.buttonTD a,.td528Button a			{color:#ffffff;display:block;}	
	.iconTextTD a					{color:#56c895; font-weight:bold;}		
	
	.headerTD						{color:#7f8c9d;font-family: sans-serif;font-size:18px;text-align:center;line-height:25px;}
	.headerTD a						{color:#56c895;}
	.header2TD,.iconHDTD			{color:#cfd6e2;font-family: sans-serif;font-size:17px;text-align:center;line-height:25px;}
	.header2TD a,.iconHDTD a		{color:#56c895; font-weight:bold;}
	.header3TD						{color:#7f8c9d;font-family: sans-serif;font-size:17px;text-align:center;line-height:27px;}
	.header3TD a					{color:#56c895; font-weight:bold;}
	.header4TD						{color:#7f8c9d;font-family: sans-serif;font-size:18px;text-align:left;line-height:25px;}
	.header4TD a					{color:#56c895;}
	.headerPrcTD					{color:#7f8c9d;font-family: sans-serif;font-size:40px;text-align:center;}
	.headerPrcTD a					{color:#7f8c9d;}
	.iconHDTD						{color:#ffffff;}
	
	.RegularTextTD,
	.RegularText2TD,	
	.RegularText3TD	,
	.confLinkTD						{color:#7f8c9d;font-family: sans-serif; font-size:13px;text-align:left;line-height:23px;}
	.RegularText3TD					{text-align:center; font-size:15px;}
	.RegularTextTD a,
	.RegularText2TD a,
	.RegularText3TD a				{color:#56c895; font-weight:bold;}
	.confLinkTD a					{color:#67bffd; font-weight:bold;word-break:break-all;}
	
	.invoiceTD						{color:#7f8c9d;font-family: sans-serif; font-size:19px;text-align:center;line-height:23px;}
	.invoiceTD a						{color:#56c895;}
	.invCap							{color:#7f8c9d;font-family: sans-serif;text-align:center;font-size:15px;}
	.invCap a						{color:#7f8c9d;}
	.invReg							{color:#7f8c9d;font-family: sans-serif;font-size:13px;text-align:center;}
	.invReg a						{color:#7f8c9d;}
	.invInfoA						{color:#7f8c9d;font-family: sans-serif; font-size:12px;text-align:right;line-height:20px;}
	.invInfoA a						{color:#7f8c9d;pointer-events:none;}
	.invInfoB						{color:#7f8c9d;font-family: sans-serif; font-size:12px;text-align:center;line-height:20px;}
	.invInfoB a						{color:#7f8c9d;pointer-events:none;}	
	
	td a img							{text-decoration:none;border:none;}
	
	.companyAddressTD				{color:#7f8c9d;font-family: sans-serif;font-size:13px;text-align:center;line-height:190%;}
	.companyAddressTD a			{color:#7f8c9d;}
	.companyAddress2TD			{color:#7f8c9d;font-family: sans-serif;font-size:13px;text-align:center;line-height:190%;}
	.companyAddress2TD a			{color:#7f8c9d;pointer-events:none;}
	
	.mailingOptionsTD,.termsConTD,.termsCon2TD		{color:#888888;font-family: sans-serif;font-size:12px;text-align:center;line-height:170%;}
	.mailingOptionsTD a,.termsConTD a,.termsCon2TD a	{color:#888888;font-weight:bold;}
	
	.termsConTD {text-align:left;}
	.termsCon2TD {text-align:right;}
	.termsConTD a,.termsCon2TD a{font-weight:normal;}

	.ReadMsgBody{width:100%;}
	.ExternalClass{width:100%;}
	body{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;margin:0 !important;padding:0 !important;min-width:100% !important;}
		


@media only screen and (max-width: 599px) 
		   {
		body{min-width:100% !important;}   

		td[class=viewOnlineTD]						{text-align:center !important;}
		table[class=table600Logo]  					{width:440px !important;border-bottom-style:solid !important;border-bottom-color:#e1e1e1 !important;border-bottom-width:1px !important;}
		td[class=tdLogo]								{width:440px !important;}
		table[class=table600Menu]					{width:440px !important;}
		td[class=AnnouncementTD]					{width:440px !important;text-align:center !important;font-size:17px !important;}
		table[class=table600Menu] td					{height:20px !important;}
		table[class=tbl6AnctText] .menuTD			{text-align:center !important;font-size:13px !important;line-height:150% !important;}
		table[class=tbl6AnctText] 					{width:440px !important;}
		td[class=viewOnlineTD]						{width:440px !important;}
		td[class=menuTD]							{width:440px !important;font-weight:bold !important;}
		table[class=table600] 						{width:440px !important;}
		table[class=image600] img 					{width:440px !important; height:auto !important;}		
		table[class=AnncTable]						{width:100% !important;border:none !important;}
		table[class=table280d]						{width:440px !important; border-radius:0 0 0 0 !important;}
		td[class=LMrg]								{height:8px !important;}
		td[class=LMrg2]								{height:6px !important;}
		td[class=LMrg3]								{height:10px !important;}
		table[class=tblRgBrdr]						{border-right:none !important;}
		td[class=td147]								{width:215px !important;}
		table[class=table147]						{width:215px !important;}
		table[class=table147tblp]						{width:175px !important;}
		td[class=mrgnHrzntlMdl]						{width:10px !important;}
		td[class=mvd]								{height:30px !important;width:440px !important;}
		table[class=centerize]						{margin:0 auto 0 auto !important;}
		table[class=tblBtnCntr2]						{width:398px !important; margin:0 auto 0 auto !important;}
		td[class=table28Sqr] img						{width:440px !important;height:auto !important;margin:0 auto 0 auto !important; border-radius:4px 4px 0 0 !important;}
		td[class=tbl28Rctngl] img						{width:215px !important;height:auto !important;margin:0 auto 0 auto !important;}
		td[class=headerTD] 							{text-align:center !important;}
		td[class=header4TD]							{text-align:center !important;}
		td[class=headerPrcTD]						{font-size:25px !important;}
		td[class=RegularTextTD] 						{font-size:13px !important;}
		td[class=RegularText2TD] 					{height:0 !important; font-size:13px !important;}
		td[class=RegularText3TD] 					{font-size:13px !important;}
		td[class=mailingOptionsTD]					{text-align:center !important;}
		td[class=companyAddressTD]					{text-align:center !important;}
		td[class=esFrMb] 							{width:0 !important;height:0 !important;display:none !important;}
		table[class=table280brdr]					{width:440px !important;}
		table[class=table608]						{width:438px !important;}
		table[class=table518b] 						{width:398px !important;}
		table[class=table518] 						{width:398px !important;}
		table[class=table518c] 						{width:195px !important;}
		table[class=table518c2] 						{width:195px !important;}
		td[class=imgAltTxticTD] img					{width:398px !important;height:auto !important; margin:0 auto 17px auto !important;}
		td[class=iconPdngErase]						{width:0 !important; display:none !important;}
		td[class=table608]							{width:438px !important;}
		td[class=invReg]								{width:133px !important; font-size:14px !important;text-align:center !important;font-weight:lighter !important;}
		td[class=invInfoA]							{text-align:right !important;width:195px !important;}
		td[class=invInfoB]							{text-align:left !important;width:195px !important;}
		td[class=invoiceTD]							{width:390px !important; font-weight:bold;}
		td[class=td528Button]						{width:358px !important;}
		table[class=table528Button]					{width:358px !important;}
		table[class=table528Social]					{width:398px !important;}
		table[class=table250]						{width:177px !important;}
		}
		


@media only screen and (max-width: 479px) 
		   {
		body{min-width:100% !important;} 
		
		td[class=viewOnlineTD]						{text-align:center !important;}
		table[class=table600Logo]  					{width:300px !important;border-bottom-style:solid !important;border-bottom-color:#e1e1e1 !important;border-bottom-width:1px !important;}
		td[class=tdLogo]								{width:300px !important;}
		table[class=table600Menu]					{width:300px !important;}
		td[class=AnnouncementTD]					{width:300px !important;text-align:center !important;font-size:17px !important;}
		table[class=table600Menu] td					{height:20px !important;}
		table[class=tbl6AnctText] .menuTD			{text-align:center !important;font-size:12px !important;line-height:150% !important;}
		table[class=tbl6AnctText] 					{width:300px !important;}
		td[class=viewOnlineTD]						{width:300px !important;}
		td[class=menuTD]							{width:300px !important;font-weight:bold !important;}
		table[class=table600] 						{width:300px !important;}
		table[class=image600] img 					{width:300px !important;height:auto !important;}
		table[class=table608]						{width:298px !important;}
		td[class=table608]							{width:298px !important;}
		table[class=table518] 						{width:260px !important;}
		table[class=table518b] 						{width:268px !important;}
		table[class=table518c] 						{width:268px !important;}
		table[class=table518c2] 						{width:268px !important; margin:20px 0 0 0 !important;}
		td[class=imgAltTxticTD] img					{width:268px !important;height:auto !important;margin:-4px auto 15px auto !important;}
		table[class=table280Button]					{width:264px !important;}
		table[class=centerize]						{margin:0 auto 0 auto !important;}
		table[class=tblBtnCntr2]						{width:264px !important; margin:0 auto 0 auto !important;}
		table[class=AnncTable]						{width:100% !important;border:none !important;}
		table[class=table280d]						{width:300px !important; border-radius:0 0 0 0 !important;} 
		td[class=LMrg]								{height:8px !important;}
		td[class=LMrg2]								{height:6px !important;}
		td[class=LMrg3]								{height:10px !important;}
		td[class=wz]									{width:15px !important;}
		table[class=tblRgBrdr]						{border-right:none !important;}
		td[class=td147]								{width:147px !important;}
		table[class=table147]						{width:147px !important;}
		table[class=table147tblp]						{width:117px !important;}
		td[class=mrgnHrzntlMdl]						{width:6px !important;}
		td[class=mvd]								{height:30px !important;width:300px !important;}
		td[class=iconPdngErase]						{width:0 !important; display:none !important;}
		td[class=table28Sqr] img						{width:300px !important;height:auto !important;margin:0 auto 0 auto !important; border-radius:4px 4px 0 0 !important;}
		td[class=tbl28Rctngl] img						{width:147px !important;height:auto !important;margin:0 auto 0 auto !important;}
		td[class=headerTD] 							{font-size:16px !important; font-weight:bold !important;text-align:center !important;}
		td[class=header4TD]							{font-size:16px !important; font-weight:bold !important;text-align:center !important;}
		td[class=iconHDTD] 							{font-size:16px !important;text-align:center !important;}
		td[class=headerPrcTD]						{font-size:18px !important;}
		td[class=RegularTextTD] 						{font-size:13px !important;text-align:left !important;}
		td[class=RegularText2TD] 					{height:0 !important;font-size:13px !important;}
		td[class=RegularText3TD] 					{font-size:13px !important;}
		td[class=mailingOptionsTD]					{text-align:center !important;}
		td[class=companyAddressTD]					{text-align:center !important;}
		td[class=esFrMb] 							{width:0 !important;height:0 !important;display:none !important;}
		table[class=table280brdr]					{width:300px !important;}
		td[class=invReg]								{width:89px !important; font-size:13px !important;text-align:center !important;}
		td[class=invInfoA]							{text-align:center !important;width:268px !important;}
		td[class=invInfoB]							{text-align:center !important;width:268px !important;}
		td[class=invoiceTD]							{width:250px !important;}
		td[class="buttonVrt"]							{height:16px !important;}
		td[class="buttonVrt2"]						{height:12px !important;}
		td[class="buttonVrt3"]						{height:10px !important;}
		td[class=td528Button]						{width:238px !important;}
		table[class=table528Button]					{width:238px !important;}
		table[class=table528Social]					{width:266px !important;}
		table[class=table250]						{width:117px !important;}
		td[class=termsCon2TD]						{text-align:center !important;}
		td[class=termsConTD]						{text-align:center !important;}
		}

.btn{
    background-color:#434952;
    border-radius:5px;
    color:#febf4e;
    padding:13px 20px;
    font-size:14px;
    border:0px;
    cursor: pointer;
}

table tbody > tr.sty > td{
    border-top: 1px solid #ddd!important;
    border-bottom: 1px solid #ddd!important;
    padding:6px 0;
    text-align:left;
}

table tbody > tr.sty1 > td{
    border-top: 1px solid #ddd!important;
    text-align:left;
}

table tbody > tr.sty2 > td{
    text-align:left;
}

.table-striped{
    float:left!important;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    font-family:Arial;
    font-size:12px;
    padding: 18px 15px!important;
    line-height:3;
     border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}


table.table-striped > tbody > tr > th{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
    vertical-align: top;
}

.tilt{
    font-family:Arial;
    font-size:16px;
    font-weight:600;
    color:#046478;
    margin-top:25px;
    float:left;
    width:90%;
    margin-left:8px;

}