﻿#navigation
{
    position: fixed;
    width: 200px;
    height: 100%;
    bottom: 0;
    left: 0;
}

    #navigation > .container-fluid
    {
        padding: 0;
    }

.toggle-mobile
{
    display: none !important;
}

#navigation > .container-fluid > span#brand
{
    font-size: 30px;
    font-style: italic;
    padding: 0 0 15px 0;
    margin: 15px auto;
    display: block;
    text-align: center;
    border-bottom: 2px solid #AAA;
}

body > form > #content.container-fluid
{
    margin-left: 200px;
    width: 85%;
}

#navigation > .container-fluid > .user
{
    margin: 15px auto;
}

    #navigation > .container-fluid > .user > .icon-nav
    {
        display: block;
        margin: 10px;
    }

#navigation > .container-fluid > #Menux
{
    width: 100%;
}

.headerIcon
{
    text-align: left;
    margin: 10px 10px;
    font-size: medium;
    cursor: default;
}

#navigation .main-nav > li
{
    width: 100%;
    /*border: 2px solid #AAA;
    border-bottom: 0px;*/
}

#navigation .level2.dropdown-menu, #navigation .level1.dropdown-menu, #navigation .level3.dropdown-menu, #navigation .level4.dropdown-menu
{
    border: 0;
}

#navigation .main-nav > li:first-child
{
    border-top: 2px solid #AAA;
}

#navigation .main-nav > li:last-child
{
    border-bottom: 2px solid #AAA;
}

.theme-orange #navigation .main-nav > li > a:hover,
.theme-orange #navigation .dropdown-menu > li > a:hover,
a.level1:hover, #navigation .dropdown-menu > li > a:hover
{
    background: #91959b;
    color: white;
    -moz-transition: background-color 0.4s ease 0s;
    -o-transition: background-color 0.4s ease 0s;
    -webkit-transition: background-color 0.4s ease 0s;
    transition: background-color 0.4s ease 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    transition-timing-function: ease;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.4s;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

#Menux a.level1, #Menux a.level2, #Menux a.level3, #Menux a.level4, #Menux a.level5, #Menux a.level6
{
    cursor: pointer;
}

#navigation .main-nav > li.static > ul, #navigation .main-nav > li.static > ul > li.dynamic > ul
{
    top: -5% !important;
    left: 100% !important;
}

.parentMenu-arrow
{
    background: url('/Images/icon-right-black-sub.png');
    /*background: url('/Images/icon-right-white-sub.png');*/
    display: inline-block;
    margin-left: 5px;
    width: 10px;
    height: 8px;
    vertical-align: middle;
}

.childMenu-arrow
{
    background: url('/Images/icon-right-black-sub.png');
    /*background: url('/Images/icon-right-white-sub.png');*/
    display: inline-block;
    margin-left: 20px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.theme-orange #navigation .main-nav > li > a:hover .parentMenu-arrow,
.theme-orange #navigation .dropdown-menu > li > a:hover .parentMenu-arrow,
a.level1:hover, #navigation .dropdown-menu > li > a:hover .parentMenu-arrow
{
    /*background: url('/Images/icon-right-black-sub.png');*/
    background: url('/Images/icon-right-white-sub.png');
}

.theme-orange #navigation .main-nav > li > a:hover .childMenu-arrow,
.theme-orange #navigation .dropdown-menu > li > a:hover .childMenu-arrow,
a.level1:hover, #navigation .dropdown-menu > li > a:hover .childMenu-arrow
{
    /*background: url('/Images/icon-right-black-sub.png');*/
    background: url('/Images/icon-right-white-sub.png');
}

.container-fluid
{
    padding: 0;
}

.span12
{
    width: 1100px;
}

div#main > div#A > div.container-fluid
{
    padding-left: 5px;
}