﻿.clearfx
{
    clear: both;
    position: relative;
}

.bgclor
{
    background: url('/img/simplemetal.jpg') repeat;
}

.table th a
{
    padding-right: 25px;
    background: url(/img/sorting.png) right center no-repeat;
}

    .table th a.sortAsc
    {
        padding-right: 25px;
        background: url(/img/sorting-asc.png) right center no-repeat;
    }

    .table th a.sortDesc
    {
        padding-right: 25px;
        background: url(/img/sorting-desc.png) right center no-repeat;
    }

.checkbox tr > td
{
    padding-right: 10px;
}

.checkbox label, .checkbox input[type="checkbox"]
{
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 10px;
}

.box .box-Title-Mod
{
    padding: 0px;
    height: 46px;
    vertical-align: middle;
}

.privateMsg
{
    margin-bottom: -5px;
}

.leftBar
{
    float: left;
    width: 30%;
    height: 700px;
    overflow-y: scroll;
}

.rightBar
{
    float: right;
    width: 67%;
    height: 700px;
    margin-right: 1%;
}

div.rightBar > div > div.insertMsg > div.submit > button
{
    border: 0;
    background: #205d96;
    color: #fff;
    margin: 2px;
    width: 50px;
    padding: 3px 4px;
}

div.rightBar > div > div.userMsg
{
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    font-size: x-large;
    margin-bottom: 20px;
}

    div.rightBar > div > div.userMsg > div > input[type="submit"]
    {
        float: right;
    }

div.rightBar > div > div.displayMsg
{
    height: 420px;
    overflow-y: scroll;
}

div.rightBar > div > div.insertMsg
{
    vertical-align: baseline;
    height: 110px;
}

    div.rightBar > div > div.insertMsg > div.text > textarea
    {
        margin-bottom: 0px;
    }

    div.rightBar > div > div.insertMsg > div.submit
    {
        /*margin: 0; padding: 0;*/
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: right;
    }

.gvPMMsg, div.gvPMMsgName, div.gvPMMsgDate
{
    display: inline;
}

div.gvPMMsgName
{
    float: left;
}

div.gvPMMsgDate
{
    float: right;
}

span.PMName
{
    color: blue;
}

tr.PMRead
{
}

tr.PMunRead
{
    background-color: #ddd;
    border: 1px solid #ddd;
}

.checkbox img
{
    padding: 0;
}

.checkbox input[type="checkbox"]
{
    margin-right: 5px;
}

a.btn
{
    display: inline-block;
}

.table a.proDetails
{
    color: blue !important;
}

    .table a.proDetails:hover
    {
        text-decoration: underline;
        color: #205d96 !important;
    }

span#brand
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#brand > span
{
    color: rgb(252, 96, 0);
}

.table
{
    padding: 2px;
    border-collapse: separate !important;
}

#navigation .main-nav > li.static > ul:first-of-type
{
    margin-top: 2px;
}

.table-alternateRow > td
{
    background-color: #E6ECEF;
}

.table, .table tr, .table td, .table tbody, .table thead
{
    border-spacing: 2px;
}

.filetree table td
{
    padding-right: 20px;
}

.table-announcement tr
{
    cursor: pointer;
}

:focus
{
    outline: none !important;
}

table.radioBox, table.radioBox input, table.radioBox label
{
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

    table.radioBox label
    {
        padding-left: 5px;
        padding-right: 5px;
    }


.box .control-group:first-child div.announcementList
{
    margin-top: 10px;
}

.box .control-group .announcementList
{
    margin-top: 0px;
}

.announcementList p
{
    margin: 0;
}

.pagination input[type="submit"]
{
    padding: 1px 6px !important;
}

.pagination
{
    vertical-align: middle;
}

div.no-line-height, .no-line-height span, .no-line-height input, .no-line-height h1, .no-line-height h2,
.no-line-height h3, .no-line-height h4, .no-line-height h5, .no-line-height h6, .no-line-height p,
.no-line-height div, .no-line-height label, .no-line-height
{
    line-height: normal !important;
    margin: 0;
    padding: 0;
}