﻿.subMenuArrow
{
    margin-left: 15px;
    margin-right: 2px;
    vertical-align: middle;
    width: 10px;
}

#Menux
{
    float: left;
    position: absolute;
    bottom: 0;
    margin-left: 120px;
}
