﻿/*Now the CSS*/
*
{
    margin: 0;
    padding: 0;
}

div.tree ul:first-child
{
    padding-top: 0;
}

    div.tree > ul:first-child > li:first-child
    {
        /*width: 100%;*/
        margin-bottom: 20px;
    }

.tree ul
{
    padding-top: 20px;
    position: relative;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

.tree li
{
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    /*background-color:#ffd800;*/
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

    /*We will use ::before and ::after to draw the connectors*/

    .tree li::before, .tree li::after
    {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid #ccc;
        width: 50%;
        height: 20px;
    }

    .tree li::after
    {
        right: auto;
        left: 50%;
        border-left: 1px solid #ccc;
    }

    /*We need to remove left-right connectors from elements without 
any siblings*/
    .tree li:only-child::after, .tree li:only-child::before
    {
        display: none;
    }

    /*Remove space from the top of single children*/
    .tree li:only-child
    {
        padding-top: 0;
    }

    /*Remove left connector from first child and 
right connector from last child*/
    .tree li:first-child::before, .tree li:last-child::after
    {
        border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    .tree li:last-child::before
    {
        border-right: 1px solid #ccc;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
        border-radius: 0 5px 0 0;
    }

    .tree li:first-child::after
    {
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
        border-radius: 5px 0 0 0;
    }

/*Time to add downward connectors from parents*/
.tree ul ul::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a
{
    max-width: 120px;
    width: 120px;
    border: 1px solid #8f8f8f;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
}

    /*Time for some hover effects*/
    /*We will apply the hover effect the the lineage of the element also*/
    .tree li a:hover, .tree li a:hover + ul li a
    {
        background: #c8e4f8;
        color: #000;
        border: 1px solid #94a0b4;
    }
        /*Connector styles on hover*/
        .tree li a:hover + ul li::after,
        .tree li a:hover + ul li::before,
        .tree li a:hover + ul::before,
        .tree li a:hover + ul ul::before
        {
            border-color: #94a0b4;
        }

/*Thats all. I hope you enjoyed it.
Thanks :)*/

a.info
{
    position: relative; /*this is the key*/
    z-index: 24;
    /*background-color:#ccc;*/
    color: #000;
    text-decoration: none;
}

    a.info:hover
    {
        z-index: 25;
        /*background-color:#ff0*/
    }

    a.info span
    {
        display: none;
    }

    a.info:hover span
    {
        /*the span will display just on :hover state*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        position: absolute;
        /*top:2em; left:2em;*/ width: 13em;
        border: 1px solid rgba(50, 50, 50, 0.75);
        background-color: #c8e4f8;
        color: #666;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
        box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    }
