.theme-orange .form-wizard .wizard-steps li.active .single-step .title,
.theme-orange.locked .pull-left a,
.theme-orange #main .box .box-title .tabs > li.active > a,
.theme-orange #main .box.box-color .box-title,
.theme-orange .tagsinput#textfield_tagsinput .tag, .theme-orange .ms-container .multi-custom-header, .theme-orange .slider .ui-slider-handle, .theme-orange .form-wizard .wizard-steps li.active .single-step .title, .theme-orange .user-list h4, .theme-orange .nav.nav-pills > li.active > a, .theme-orange .nav.nav-list > li.active > a, .theme-orange .table.table-colored-header thead th, .theme-orange .table.table-colored-header thead td, .theme-orange .dataTables_wrapper .dataTables_paginate > span > a.paginate_active, .theme-orange .elfinder-navbar .ui-state-active, .theme-orange .pagination.pagination-custom li.active a:hover, .theme-orange .pagination.pagination-custom li.active a,
.theme-orange .table.table-user tr.alpha td.alpha-val span,
.theme-orange .calendar .fc-button.fc-state-active:hover,
.theme-orange .calendar .fc-button.fc-state-active,
.theme-orange .calendar .fc-content .fc-event .fc-event-inner,
.theme-orange .letterbox .letter > li.active,
.theme-orange .messages > li.insert .submit button,
.theme-orange #navigation,
.theme-orange #navigation .toggle-mobile,
.theme-orange #navigation .mobile-nav.open,
.theme-orange #navigation .mobile-nav.open > li > a,
.theme-orange #navigation .mobile-nav.open > li > ul,
.theme-orange #navigation .main-nav > li.open > a,
.theme-orange #navigation .user .icon-nav > li > a:hover,
.theme-orange #navigation .user .dropdown.open,
.theme-orange #navigation .user .dropdown > a:hover,
.theme-orange .search-form .search-pane button[type="submit"],
#Menux ul ul
{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #C2C2C2 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #C2C2C2 100%);
    /* Opera */
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #C2C2C2 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #C2C2C2));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #C2C2C2 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #C2C2C2 100%);
    border-color: transparent;
}

/*.theme-orange.login
{
    background: rgb(228, 228, 243);
}*/

.theme-orange #Menux a
{
    color: black;
}

.theme-orange a
{
    color: black;
}

.theme-orange .btn,
.theme-orange .btn.btn-inverse, .theme-orange .btn.btn-success, .theme-orange .btn.btn-danger
{
    color: white;
}

    .theme-orange .btn.btn-primary
    {
        background: #c47a06;
        color: white; /*#000*/
    }

.theme-orange.locked
{
    background: #c47a06 !important;
}

    .theme-orange.locked .pull-left a:hover,
    .theme-orange #navigation .mobile-nav.open > li.active > a,
    .theme-orange #navigation .mobile-nav.open > li.active > ul
    {
        background: #c47a06;
    }

.theme-orange #navigation .main-nav > li.active > a:hover
{
    background: #fff;
}

.theme-orange #navigation .dropdown-menu
{
    border-color: #5b5454; /*rgb(45, 45, 45);*/ /*#000;*/
}

.theme-orange .messages > li.right .name
{
    color: #c47a06;
}

.theme-orange #main .box.box-color .box-title .tabs > li.active > a
{
    color: rgb(45, 45, 45);
}

.theme-orange #main .box.box-bordered.box-color .box-title,
.theme-orange #main .box.box-bordered.box-color .box-content,
.theme-orange .elfinder-navbar .ui-state-active
{
    border-color: transparent;
}

.theme-orange .messages > li.right .message .caret
{
    border-left: 7px solid #fef4e5;
}

.theme-orange .messages > li.right .message
{
    background: #fef4e5;
}

    .theme-orange .messages > li.right .message p,
    .theme-orange .messages > li.right .message .time
    {
        color: #c47a06;
    }

ul > li.orange, .label-orange,
.progress.small .bar.bar-orange,
.box.box-color.orange .box-title .actions > a:hover,
.box.box-color.orange .form-wizard .wizard-steps li.active .single-step .title,
.box.box-color.orange .btn.btn-primary
{
    background: rgb(45, 45, 45);
}

.box.box-color.orange .box-title,
.box.box-bordered.box-color.orange .box-title,
.box.box-bordered.box-color.orange .box-content
{
    background: #c47a06 !important;
}

.box.box-bordered.box-color.orange .slimScrollDiv
{
    border-bottom: 2px solid rgb(45, 45, 45);
}
